body{
    background-color: rgb(232, 210, 177);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:"Verdana", sans-serif;
}
/*nav ul{
    display:flex;
    list-style-type: none;
    height:63px;
    background-color :black;
    color:white;
    align-items: center;
    width:50%;
}*/
.navbar{
    display:flex;
    background-color :black;
    color:white;
    list-style-type: none;
    align-items: center;
}
.nav-list{
    display:flex;
    width:50%;
    color:white;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
nav ul li a{
text-decoration: none;
}
nav ul li a:hover{
    color:bisque;
}
.rightNav{
    width:50%;
    background-color :black;
    text-align:right;
}
form{
    margin:58;
    padding: 530px;
    align-items: flex-end;

}
.btn-outline-success my-2 my-sm-0{
    display : flex;
    padding : 30px;
    margin:25px;

}
.btn-outline-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.brand img{
    size: a3;
    display: table-header-group;
    width: 45px;
    padding:0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 51vh;
    background-color:black;
    color:white;
    font-family:"Varela Round", sans-serif;
    display:flex;
    margin:23px auto;
    width:770px;
    border-radius: 12px;
    padding:34px;
    background-image :url('https://cdn.staticcrate.com/stock-hd/archives/categories/audio/ROCK_NO_TEXT.jpg');
    
}
.Bottom{
    position:sticky;
    height:130px;
    background-color: rgb(10, 0, 0);
    bottom:0;
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.icons{
    margin-top:14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width:88vw;
}
.songItem{
    height:50px;
    display:flex;
    background-color: white;
    
    color:black;
    margin : 12px 0;
    justify-content:space-between;
    align-items:center;
    border-radius:34px;

}
.timestamp{
    margin: 0 23px;
}
.songItem img{
    width:43px;
    margin:0 23px;
    border-radius:34px;

}
.songItemContainer{
    margin:34px;
}